
<html lang="en" >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icons/planner.ico" />
    
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
    <script type="text/javascript" src="libs/markerclusterer.js"></script>
    <script type="text/javascript" src="libs/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" src="libs/smart-table.min.js"></script>
    
    <script src="js/app.js"></script>
    <title>Corporate Dashboard</title>
    <style>

    #map-container {
      padding: 6px;
      border-width: 1px;
      border-style: solid;
      border-color: #ccc #ccc #999 #ccc;
      -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
      -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
      box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
      height: 80%;
      width: 95%;
    }
    #map {
        width: 100%;
        height: 100%;
    }
    input, textarea, body {
      max-width:100%
    }
    .st-sort-ascent:before{
      content: '\25B2';
    }

    .st-sort-descent:before{
      content: '\25BC';
    }
    </style>
  </head>
  <body ng-app="CorporateDashboard" ng-controller="allTabs">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-menu>
          <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon>dashboard</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="homeView($event)">
                <md-icon>home</md-icon>
                Home
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="geoView($event)">
                <md-icon>map</md-icon>
                Geospatial
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="metricsView($event)">
                <md-icon>assessment</md-icon>
                Key Metrics
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="dataView($event)">
                <md-icon>view_list</md-icon>
                Issue Data View
              </md-button>
            </md-menu-item>                            
          </md-menu-content>
        </md-menu>
        <span flex></span>
        <h2>
          <span>{{pageHeading}}</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-content flex layout-padding>
      <div ng-show="selectedMenu==1">
          <md-card>
            <md-card-content>
              <p> Welcome to XYZ Corporate Dashboard. This site offers a GeoSpatial view of the employees around the globe, a Key Metrics view of the open issues and paid customers and a data view of all issues. Please select a dashboard from the menu in the top.
            </md-card-content>
          </md-card>
      </div>
      <div ng-show="selectedMenu==2">
        <div id="map-container"><div id="map"></div></div>
      </div>
      <div ng-show="selectedMenu==3">
        <div flex-xs flex-gt-xs="50" layout="column">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Open Issues = {{openIssuesCount}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <span flex></span>
              <br>
            </md-card-content>
          </md-card>

          <md-card>
            <md-card-content>
              <div id="chart_div"></div>
            </md-card-content>
          </md-card>

          <md-card>
            <md-card-content>
              <div id="chart_line"></div>
            </md-card-content>
          </md-card>

        </div>
      </div>
      <div ng-show="selectedMenu==4">
        <table id="mytab" border="1" style="width:50%" st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
          <thead>
          <tr>
            <th st-sort="IssueNumber">Issue</th>
            <th st-sort="Description">Description</th>
            <th st-sort="Company">Customer</th>
            <th st-sort="Email">Email</th>
            <th st-sort="Open">Opened On</th>
            <th st-sort="Status">Status</th>
            <th st-sort="Close">Closed On</th>
            <th st-sort="Employee">Employee</th>                                    
          </tr>
          <tr>
             <th> <input st-search="IssueNumber" placeholder="Filter" class="input-sm form-control" type="search"/> </th>
             <th> <input st-search="Description" class="input-sm form-control" type="search"/> </th>
             <th> <input st-search="Company" class="input-sm form-control" type="search"/> </th>
             <th> <input st-search="Email" class="input-sm form-control" type="search"/> </th>
             <th> <input st-search="Open" class="input-sm form-control" type="search"/> </th>
             <th> <input st-search="Status" class="input-sm form-control" type="search"/> </th>
             <th> <input st-search="Close" class="input-sm form-control" type="search"/> </th>
             <th> <input st-search="Employee" class="input-sm form-control" type="search"/> </th>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in displayedCollection">
            <td>{{row.IssueNumber}}</td>
            <td>{{row.Description}}</td>
            <td>{{row.Company}}</td>
            <td><a ng-href="mailto:{{row.Email}}">{{row.Email}}</a>
            <td>{{row.Open}}</td>
            <td>{{row.Status}}</td>
            <td>{{row.Close}}</td>
            <td>{{row.Employee}}</td>
          </tr>
          </tbody>
        </table>
      </div>      
    </md-content>
  </body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
